body {
    margin: 0px;
    padding: 0px;
    font-family: Poppins;
    background-color: #f0f0f0;
}

img {
    max-width: 100%;
}

section.wrapper {
    width: 100%;
    max-width: 960px;
    margin: 0px auto;
    /* border: 2px solid #333; */
}

section.wrapper header {
    padding: 30px 20px 20px 30px;
    background: #000;
    box-sizing: border-box;
}

section.wrapper header .logo {
    width: 70px;
}

section.wrapper header nav ul {
    padding: 0px;
    margin-top: 20px;
}

header nav ul li {
    display: inline-block;
    margin-right: 30px;

}



header nav ul li:last-of-type {
    margin-right: 0px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

.content {
    padding: 30px;
    font-weight: 600;
}

.content p {
    margin: 0px;
}

.content textarea {
    width: 100%;
    box-sizing: border-box;
    resize: none;
    font-family: Poppins;
    outline: none;
    padding: 10px;
    border: 1px solid #cecece;
    border-radius: 4px;
    margin: 20px 0px 10px 0px;
}

.content input[type=submit] {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-family: Poppins;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

.messages {
    background-color: #000;
    height: 300px;
    /* color: #fff; */
    padding: 5%;
}

.messages .message {
    position: relative;
    border: 1px solid #fff;
    padding: 10px;
    padding-bottom: 20px;
    background: #fff;
    border-radius: 5px;
    font-family: Poppins;
    margin-bottom: 20px;
    font-size: 13px;
    max-width: 500px;
}

.messages .message label {
    position: absolute;
    font-size: 10px;
    bottom: 0px;
    right: 6px;
    color: #b3b3b3;
}

.messages .message label.brand {
    left: 10px;
}

.messages .message label.brand i:first-child {
    color: #fbad50;
}

.messages .message label.brand i:last-child {
    color: #00acee;
}