body {
    margin: 0px;
    padding: 0px;
}

img {
    max-width: 100%;
}

section.wrapper {
    width: 100%;
    max-width: 960px;
    margin: 0px auto;
    /* border: 2px solid #333; */
}

section.wrapper header {
    padding: 20px;
}

section.wrapper header .logo {
    width: 50px;
}